@model VisualizarViewModel
@{
    ViewData["Title"] = "Visualizar";
    TransacaoPagarMe transacaoPagarMe = JsonConvert.DeserializeObject<TransacaoPagarMe>(Model.Pedido.DadosTransaction);
    List<ProdutoItem> produtoItems = JsonConvert.DeserializeObject<List<ProdutoItem>>(Model.Pedido.DadosProdutos,
        new JsonSerializerSettings()
        {
            ContractResolver = new ProdutoItemResolver<List<ProdutoItem>>()
        });
    var aniversario = DateTime.Parse(transacaoPagarMe.Customer.Birthday);
}

@section script{
    @if (ViewBag.MODAL_NFE != null)
    {
        <script type="text/javascript">
            $('#nfe').modal();
        </script>
    }
    @if (ViewBag.MODAL_RASTREAMENTO != null)
    {
        <script type="text/javascript">
            $('#rastreamento').modal();
        </script>
    }
    @if (ViewBag.MODAL_CARTAOCREDITO != null)
    {
        <script type="text/javascript">
            $('#cancelar-cartao').modal();
        </script>
    }
    @if (ViewBag.MODAL_BOLETOBANCARIO != null)
    {
        <script type="text/javascript">
            $('#cancelar-boleto').modal();
        </script>
    }
    @if (ViewBag.MODAL_DEVOLVER != null)
    {
        <script type="text/javascript">
            $('#devolver').modal();
        </script>
    }
    @if (ViewBag.MODAL_DEVOLVER_REJEITAR != null)
    {
        <script type="text/javascript">
            $('#devolver_rejeitar').modal();
        </script>
    }
    @if (ViewBag.MODAL_DEVOLVER_BOLETOBANCARIO != null)
    {
        <script type="text/javascript">
            $('#devolver_aprovar_boleto').modal();
        </script>
    }
}

<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <vc:pedido-situacao pedido="@Model.Pedido" />
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-12 text-center">
            @if (Model.Pedido.Situacao == PedidoSituacaoConstant.PAGAMENTO_APROVADO)
            {
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#nfe">
                    Registrar NF-E
                </button>
            }
            @if (Model.Pedido.Situacao == PedidoSituacaoConstant.NF_EMITIDA)
            {
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rastreamento">
                    Registrar Cod. Rastreamento
                </button>
            }
            @if (Model.Pedido.Situacao == PedidoSituacaoConstant.NF_EMITIDA || Model.Pedido.Situacao == PedidoSituacaoConstant.PAGAMENTO_APROVADO)
            {
                if (Model.Pedido.FormaPagamento == MetodoPagamentoConstant.CartaoCredito)
                {
                    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#cancelar-cartao">
                        Cancelar
                    </button>
                }
                if (Model.Pedido.FormaPagamento == MetodoPagamentoConstant.Boleto)
                {
                    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#cancelar-boleto">
                        Cancelar
                    </button>
                }
            }

            @if (Model.Pedido.Situacao == PedidoSituacaoConstant.ENTREGUE)
            {
                var pedidoSituacao = Model.Pedido.PedidoSituacoes.FirstOrDefault(a => a.Situacao == PedidoSituacaoConstant.ENTREGUE);

                if (pedidoSituacao != null && DateTime.Now <= pedidoSituacao.Data.AddDays(7))
                {
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#devolver">
                        Devolver
                    </button>
                }
            }
            
            @if (Model.Pedido.Situacao == PedidoSituacaoConstant.DEVOLVER_ENTREGUE)
            {
                if (Model.Pedido.FormaPagamento == MetodoPagamentoConstant.CartaoCredito)
                {
                    <a class="btn btn-success" asp-action="RegistrarDevolucaoPedidoAprovadoCartaoCredito" asp-route-id="@Model.Pedido.Id">
                        Aceitar Devolução
                    </a>
                }
                
                if (Model.Pedido.FormaPagamento == MetodoPagamentoConstant.Boleto)
                {
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#devolver_aprovar_boleto">
                        Aceitar Devolução
                    </button>
                }
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#devolver_rejeitar">
                        Rejeitar Devolução
                    </button>

            }

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <h3>Dados do Pedido</h3>
            <table class="table table-bordered">
                <tr>
                    <td colspan="2"><strong>Situação do Pedido:</strong> @Model.Pedido.Situacao</td>
                </tr>
                <tr>
                    <td><strong>Cliente:</strong> @transacaoPagarMe.Customer.Name</td>
                    <td><strong>Nascimento:</strong> @aniversario.ToString("dd/MM/yyyy")</td>
                </tr>
                <tr>
                    <td><strong>Forma de Pagamento:</strong> @Model.Pedido.FormaPagamento</td>
                    <td><strong>Nota Fiscal Eletrônica: </strong> @Html.Raw(Model.Pedido.NFE == null ? "-" : "<a href='" + Model.Pedido.NFE + "' target='_blank'> NF-e </a>")</td>
                </tr>
            </table>

            <h3>Entrega</h3>
            <table class="table table-bordered">
                <tr>
                    <td colspan="4"><strong>Endereço de Entrega: </strong> @transacaoPagarMe.Shipping.Name</td>
                </tr>
                <tr>
                    <td><strong>CEP: </strong> @transacaoPagarMe.Shipping.Address.Zipcode</td>
                    <td><strong>Estado: </strong> @transacaoPagarMe.Shipping.Address.State</td>
                    <td><strong>Cidade: </strong> @transacaoPagarMe.Shipping.Address.City</td>
                    <td><strong>Bairro: </strong> @transacaoPagarMe.Shipping.Address.Neighborhood</td>
                </tr>
                <tr>
                    <td colspan="2"><strong>Endereço: </strong> @transacaoPagarMe.Shipping.Address.Street</td>
                    <td><strong>Complemento: </strong> @transacaoPagarMe.Shipping.Address.Complementary</td>
                    <td><strong>Número: </strong> @transacaoPagarMe.Shipping.Address.StreetNumber</td>
                </tr>
                <tr>
                    <td colspan="2"><strong>Transportadora: </strong> @Model.Pedido.FreteEmpresa</td>
                    <td><strong>Valor do Frete: </strong> @Mascara.ConverterPagarMeIntToDecimal(transacaoPagarMe.Shipping.Fee).ToString("C")</td>
                    <td><strong>Rastreamento: </strong> @Html.Raw(Model.Pedido.FreteCodRastreamento == null ? "-" : "<a href='https://linkcorreios.com.br/" + Model.Pedido.FreteCodRastreamento + "' target='_blank'> " + Model.Pedido.FreteCodRastreamento + " </a>")</td>
                </tr>
            </table>

            @{
                var devolucaoEntregue = Model.Pedido.PedidoSituacoes.FirstOrDefault(a => a.Situacao == PedidoSituacaoConstant.DEVOLVER_ENTREGUE);
            }            
                
            @if (devolucaoEntregue != null)
            {
                var devolucao = Model.Pedido.PedidoSituacoes.FirstOrDefault(a => a.Situacao == PedidoSituacaoConstant.DEVOLVER);
                DadosDevolucao dadosDevolucao = JsonConvert.DeserializeObject<DadosDevolucao>(devolucao.Dados);

                var devolucaoRejeicaoMotivo = Model.Pedido.PedidoSituacoes.FirstOrDefault(a => a.Situacao == PedidoSituacaoConstant.DEVOLUCAO_REJEITADA);

                var dadosCorreiosDevolucao = JsonConvert.DeserializeObject<Correios.NET.Models.Package>(devolucaoEntregue.Dados);    
                <h3>Devolução</h3>
                <table class="table table-bordered">
                    <tr>
                        <td><strong>Transportadora: </strong> @Model.Pedido.FreteEmpresa</td>
                        <td><strong>Data da devolução (Na Loja): </strong> @dadosCorreiosDevolucao.DeliveryDate.ToString()</td>
                        <td><strong>Rastreamento: </strong> @Html.Raw(dadosDevolucao.CodigoRastreamento == null ? "-" : "<a href='https://linkcorreios.com.br/" + dadosDevolucao.CodigoRastreamento + "' target='_blank'> " + dadosDevolucao.CodigoRastreamento + " </a>")</td>
                    </tr>

                    @if (devolucaoRejeicaoMotivo != null)
                    {
                        <tr>
                            <td colspan="3"><strong style="color: red;">Motivo da Rejeição: </strong> @devolucaoRejeicaoMotivo.Dados</td>
                        </tr>
                    }

                </table>
            }

            <h3>Lista de Produtos</h3>
            <table class="table table-bordered">
                <tr>
                    <th>Quantidade</th>
                    <th>Nome</th>
                    <th>Valor</th>
                    <th>Total</th>
                </tr>

                @foreach (var produto in produtoItems)
                {
                    <tr>
                        <td>@produto.QuantidadeProdutoCarrinho</td>
                        <td>@produto.Nome</td>
                        <td>@produto.Valor.ToString("C")</td>
                        <td>@((produto.Valor * produto.QuantidadeProdutoCarrinho).ToString("C"))</td>
                    </tr>
                }

                <tr>
                    <td colspan="3"><strong>FRETE</strong></td>
                    <td>@Mascara.ConverterPagarMeIntToDecimal(transacaoPagarMe.Shipping.Fee).ToString("C")</td>
                </tr>

                <tr>
                    <td colspan="3"><strong>TOTAL</strong></td>
                    <td>@Model.Pedido.ValorTotal.ToString("C")</td>
                </tr>
            </table>
            <br />

            <button class="container btn btn-outline-primary btn-lg btn-imprimir"> Imprimir </button>
            <br />
            <br />
        </div>
    </div>
</div>

<!-- Modal NFE-->
<form method="post" asp-action="NFE" asp-route-id="@Model.Pedido.Id">
    <div class="modal fade" id="nfe" tabindex="-1" role="dialog" aria-labelledby="nfe" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nota Fiscal - Eletrônica</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="control-nfe">Link NF-e:</label>
                        <input type="url" class="form-control" asp-for="@Model.NFE.NFE_URL" id="control-nfe" placeholder="URL NF-e">
                        <span asp-validation-for="@Model.NFE.NFE_URL" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Modal Cartão de Credito-->
<form method="post" asp-action="RegistrarCancelamentoCartaoCredito" asp-route-id="@Model.Pedido.Id">
    <div class="modal fade" id="cancelar-cartao" tabindex="-1" role="dialog" aria-labelledby="cancelar-cartao" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cancelar pedido (Cartão de crédito)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="motivo">Motivo: </label>
                        <textarea class="form-control" asp-for="@Model.CartaoCredito.Motivo" id="motivo" placeholder="Motivo do cancelamento"> </textarea>
                        <span asp-validation-for="@Model.CartaoCredito.Motivo" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Modal Cancelar Boleto-->
<form method="post" asp-action="RegistrarCancelamentoBoleto" asp-route-id="@Model.Pedido.Id">
    <div class="modal fade" id="cancelar-boleto" tabindex="-1" role="dialog" aria-labelledby="cancelar-boleto" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cancelar pedido (Boleto Bancário)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                    <div class="form-group">
                        <label for="motivo">Motivo: </label>
                        <textarea class="form-control" asp-for="@Model.Boleto.Motivo" id="motivo" placeholder="Motivo do cancelamento"> </textarea>
                        <span asp-validation-for="@Model.Boleto.Motivo" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <label for="codigo_banco"> Código Banco: </label>
                        <input type="text" class="form-control" asp-for="@Model.Boleto.BancoCodigo" id="codigo_banco" placeholder="Código banco">
                        <span asp-validation-for="@Model.Boleto.BancoCodigo" class="text-danger"></span>
                        <a href="https://portal.febraban.org.br/pagina/3164/12/pt-br/associados" target="_blank"> Consultar </a>
                    </div>

                    <div class="form-group">
                        <label for="agencia"> Agência: </label>
                        <input type="text" class="form-control" asp-for="@Model.Boleto.Agencia" id="agencia" placeholder="Agência">
                        -
                        <input type="text" maxlength="2" class="form-control" asp-for="@Model.Boleto.AgenciaDV" id="agencia_dv">
                        <span asp-validation-for="@Model.Boleto.Agencia" class="text-danger"></span>
                        <span asp-validation-for="@Model.Boleto.AgenciaDV" class="text-danger"></span>

                    </div>

                    <div class="form-group">
                        <label for="cc"> Conta Corrente: </label>
                        <input type="text" class="form-control" asp-for="@Model.Boleto.Nome" id="nome" placeholder="Nome proprietário da conta">
                        <span asp-validation-for="@Model.Boleto.Nome" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="cpf"> CPF do proprietário da conta: </label>
                        <input type="text" class="form-control" asp-for="@Model.Boleto.CPF" id="cpf" placeholder="CPF proprietário da conta">
                        <span asp-validation-for="@Model.Boleto.CPF" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!--Modal Registrar Rastreamento-->
<form method="post" asp-action="RegistrarRastreamento" asp-route-id="@Model.Pedido.Id">
<div class="modal fade" id="rastreamento" tabindex="-1" role="dialog" aria-labelledby="rastreamento" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Código de Rastreamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="cod_rastreamento">Código:</label>
                    <input type="text" class="form-control" asp-for="@Model.CodigoRastreamento.Codigo" id="cod_rastreamento" placeholder="Código de Rastreamento">
                        <span asp-validation-for="@Model.CodigoRastreamento.Codigo" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>
</form>

<!--Modal Devolver-->
<form method="post" asp-action="RegistrarDevolucaoPedido" asp-route-id="@Model.Pedido.Id">
    <div class="modal fade" id="devolver" tabindex="-1" role="dialog" aria-labelledby="devolver" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Devolução do Pedido</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="@Model.Devolucao.Motivo"> </label>
                        <textarea class="form-control" asp-for="@Model.Devolucao.Motivo" id="motivo" placeholder="Motivo da Devolução"> </textarea>
                        <span asp-validation-for="@Model.Devolucao.Motivo" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.Devolucao.CodigoRastreamento"> </label>
                        <input type="text" class="form-control" asp-for="@Model.Devolucao.CodigoRastreamento" placeholder="Código de Rastreamento">
                        <span asp-validation-for="@Model.Devolucao.CodigoRastreamento" class="text-danger"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!--Modal Registrar Devolucao-->
<form method="post" asp-action="RegistrarDevolucaoPedidoRejeicao" asp-route-id="@Model.Pedido.Id">
    <div class="modal fade" id="devolver_rejeitar" tabindex="-1" role="dialog" aria-labelledby="devolver_rejeitar" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Rejeitar Devolução</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="@Model.DevolucaoMotivoRejeicao"> </label>
                        <textarea class="form-control" asp-for="@Model.DevolucaoMotivoRejeicao" id="motivo" placeholder="Motivo da Rejeição"> </textarea>
                        <span asp-validation-for="@Model.DevolucaoMotivoRejeicao" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Modal Devolver Aprovar Boleto-->
<form method="post" asp-action="RegistrarDevolucaoPedidoAprovadoBoleto" asp-route-id="@Model.Pedido.Id">
    <div class="modal fade" id="devolver_aprovar_boleto" tabindex="-1" role="dialog" aria-labelledby="devolver_aprovar_boleto" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Devolver Dinheiro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="codigo_banco"> Código Banco: </label>
                        <input type="text" class="form-control" asp-for="@Model.Boleto.BancoCodigo" id="codigo_banco" placeholder="Código banco">
                        <span asp-validation-for="@Model.Boleto.BancoCodigo" class="text-danger"></span>
                        <a href="https://portal.febraban.org.br/pagina/3164/12/pt-br/associados" target="_blank"> Consultar </a>
                    </div>

                    <div class="form-group">
                        <label for="agencia"> Agência: </label>
                        <input type="text" class="form-control" asp-for="@Model.Boleto.Agencia" id="agencia" placeholder="Agência">
                        -
                        <input type="text" maxlength="2" class="form-control" asp-for="@Model.Boleto.AgenciaDV" id="agencia_dv">
                        <span asp-validation-for="@Model.Boleto.Agencia" class="text-danger"></span>
                        <span asp-validation-for="@Model.Boleto.AgenciaDV" class="text-danger"></span>

                    </div>

                    <div class="form-group">
                        <label for="cc"> Conta Corrente: </label>
                        <input type="text" class="form-control" asp-for="@Model.Boleto.Nome" id="nome" placeholder="Nome proprietário da conta">
                        <span asp-validation-for="@Model.Boleto.Nome" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="cpf"> CPF do proprietário da conta: </label>
                        <input type="text" class="form-control" asp-for="@Model.Boleto.CPF" id="cpf" placeholder="CPF proprietário da conta">
                        <span asp-validation-for="@Model.Boleto.CPF" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>

