@{
    ViewData["Title"] = "Painel";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Painel de Controle</h1>
</div>

<h3>Informações Gerais</h3>
    <div class="row">
        <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                Clientes
            </div>
            <div class="card-body">
                <h5 class="card-title">Total: @ViewBag.Clientes</h5>
                <a asp-controller="Cliente" asp-action="Index" class="btn btn-primary">Visualizar</a>
            </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                Newsletter
            </div>
            <div class="card-body">
                <h5 class="card-title">Total: @ViewBag.Newsletter</h5>
                <a asp-action="GerarCSVNewsletter" target="_blank" class="btn btn-primary">Gerar arquivo</a>
            </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                Produtos
            </div>
            <div class="card-body">
                <h5 class="card-title">Total: @ViewBag.Produtos</h5>
                <a asp-controller="Produto" asp-action="Index" class="btn btn-primary">Gerenciar</a>
            </div>
        </div>
        </div>
    </div>

<br />

<h3>Vendas</h3>
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                Número de vendas
            </div>
            <div class="card-body">
                <h5 class="card-title">Total: @ViewBag.NumeroPedidos</h5>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                Total vendido
            </div>
            <div class="card-body">
                <h5 class="card-title">Total: @ViewBag.ValorTotalPedidos</h5>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                Forma de pagamento
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    <strong>Boleto:</strong> @ViewBag.QuantidadeBoletoBancario
                    <br />
                    <strong>Cartão de Crédito:</strong> @ViewBag.QuantidadeCartaoCredito
                </h5>
            </div>
        </div>
    </div>
</div>


